<a href="https://colab.research.google.com/github/Solvedsplash/bipaswi/blob/main/Bipaswi_Shakya_workshop_01_question_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1) Calculate the sum of all numbers from 1 to n.

In [4]:
n=int(input("Enter a number: "))
sum=0
i=1
while i<=n:
  sum= sum+i
  i=i+1
print (sum)

Enter a number: 6
21

# Q2) Write a program to take an input (max) that is odd positive integer and print the sums of positive odd integers from 1 to max.

In [23]:
while True:
  n=int(input("Enter a odd number: "))
  if n>0 and n%2==1:
    print("valid")
    sum = 0
    for i in range(1,n+1):
        if i%2 == 1:
            sum = sum + i
    print("Sum of odd number", n, " = ",sum)
    break
  else:
    print("not valid")

Enter a odd number: 9
valid
Sum of odd number 9  =  25

# Q3) Write a program to print all the multipliers of 6 in range[1,n], where n is positive integer.

In [25]:
n=int(input(" Enter a number: "))
for i in range (1,n+1):
  if i %6==0:
    print(i)

 Enter a number: 36
6
12
18
24
30
36

# Q4) Write a python program to check whether the given number is prime or not using function.

In [63]:
def Prime(n):
    if n == 1 or n%2 == 0:
        return False
    else:
        for i in range(3,n):
            if n%i == 0:
                return False
    return True
n = int(input("Enter a number: "))
print(Prime(11))

Enter a number: 2
True

# Q5) Write a program to display all factorial of number from 1 to n.

In [68]:
n=int (input("Enter a Number: "))
def factorial(n):
   if n==0 or n==1:
        return 1
   else:
        return n*factorial(n-1)
for i in range(1,n+1):
    print("{0:2d} {1:10d}".format(i, factorial(i)))

Enter a Number: 7
 1          1
 2          2
 3          6
 4         24
 5        120
 6        720
 7       5040

# Q6) Write a program that prints:
# n, $ s_{1}(n)=\sum \limits _{k=1} ^{n} k $ , $ s_{2}(n)=\sum \limits _{k=1} ^{n} k ^{2} $ , and  $ s_{3}(n) = \frac{3s_{2}(n)}{s_{1}(n)} $ for n = 1, 2, 3, ..., 20.  Try to guess the general formula for  $ \sum \limits _{k=1} ^{n} k ^{2} $ from the resulting table.

In [72]:
n=20
def s1(n):
  sum1=0 
  for i in range (1,n+1):
    sum1=sum1+i
  return sum1

def s2(n):
  sum2=0
  for i in range (1, n+1):
    sum2= sum2+i*i
  return sum2 

def s3(n):
  return 3*s2(n)/s1(n)

for j in range(1,n+1):
    print("{0:2d} {1:5d} {2:5d} {3:10f}".format(j,s1(j),s2(j),s3(j)))

 1     1     1   3.000000
 2     3     5   5.000000
 3     6    14   7.000000
 4    10    30   9.000000
 5    15    55  11.000000
 6    21    91  13.000000
 7    28   140  15.000000
 8    36   204  17.000000
 9    45   285  19.000000
10    55   385  21.000000
11    66   506  23.000000
12    78   650  25.000000
13    91   819  27.000000
14   105  1015  29.000000
15   120  1240  31.000000
16   136  1496  33.000000
17   153  1785  35.000000
18   171  2109  37.000000
19   190  2470  39.000000
20   210  2870  41.000000

# Q7) Write a function <b>myPow(x, n)</b> that returns $x ^{n}$, where   and n is a non-negative integer.  Do not use the ** operator or the math.pow function — use one <i>while</i> loop.  Hint:  $ x ^{0} = 1 $.

In [86]:
def myPow(x,n):
  i=1
  mul = 1
  while i<=n:
     mul = mul * x
     i = i+1
  return mul
print(myPow(2,4))

16

# Q8) Write a function printSquare(n) that displays a “square” whose side has n stars. For example, for n = 5, the output should be:
<table>
  <tr>
    <td>*</td>
    <td>*</td>
    <td>*</td>
    <td>*</td>
    <td>*</td>
  </tr>

  <tr>
    <td>*</td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td>*</td>
  </tr>
    <tr>
    <td>*</td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td>*</td>
  </tr>
  <tr>
    <td>*</td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td>*</td>
  </tr>
  <tr>
    <td>*</td>
    <td>*</td>
    <td>*</td>
    <td>*</td>
    <td>*</td>
  </tr>
</table>

In [80]:
n=5
def printSquare(n):
  for i in range(1, n+1):
     if i==1 or i==n:
       print ("*"*n)  
     else:
       print("*"+" "*(n-2)+"*")
printSquare(n)

*****
*   *
*   *
*   *
*****